---
import type { CollectionEntry } from 'astro:content'
import PostCard from '@/components/PostCard'
import { cn } from '@/utils'

type Props = {
	posts: CollectionEntry<'blog'>[]
	FirstBig?: boolean
}

const { posts, FirstBig = true } = Astro.props;

const sortedPosts = [...posts].sort((a,b) => {
  // Let's say there's a `publishedAt` property in each post
  const timestampA = new Date(a.data.pubDate).getTime();
  const timestampB = new Date(b.data.pubDate).getTime();
  return timestampB - timestampA;
});

const {language} = Astro.props;
---

<section
	class={cn(
		`grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4  gap-4 mt-3`,
		FirstBig && `md:[&>*:first-child]:col-span-2`
	)}>
	{
		
		sortedPosts.map(async (post) => {
			const { remarkPluginFrontmatter } = await post.render()
			return (
			<PostCard  language = {language}
					data={post.data}
					slug={post.slug}
					readTime={remarkPluginFrontmatter.minutesRead}
				/>
			)
		})
	}
</section>
